body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 16px;
    text-align: center;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}
form {
	max-width: 1000px;
	margin: auto;
	background-color: #ebebeb;
	padding: 50px;
	border-radius: 25px;
	box-shadow: 0 2px 5px rgba(7, 88, 99, 0.712);
}
.especial{
    padding: 45px;
    align-self: center;
    background-color: rgb(105, 146, 146);
}

.contenido{
    max-width: 500px;
    padding: 45px;
    background-color: rgb(196, 160, 193);
}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;

    box-shadow: 2px 2px 10px rgba(165, 149, 149, 0.5);
    color: white;
    background-color: rgb(184, 90, 184);
}

button:hover{
    background-color: rgb(101, 33, 165);
}
.color-acento{ color:rgb(29, 10, 46); }

header .logo{
    margin: 0;
    padding: 35px 30px;
    font-weight: bold;
    text-indent: 1.5;
    color: rgb(75, 12, 57);
    word-spacing: 10px;
    border: black;
    font-size: 2.055em;
    text-decoration-color: rgb(101, 117, 122);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500px;
    text-align: center;
    font-size: 50px;
}
.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 20px;
	background-color: #cdcbce;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.left {
	flex-basis: 55%;
	margin-right: 3%;
}

.right {
	flex-basis: 30%;
	margin-left: 3%;
    text-align: justify;
    border-style: hidden;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(13, 99, 136);
    text-decoration: underline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;

}
aside{
    text-align:justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
}

header a:hover{
    color: rgb(206, 100, 200);
}
.fondo{
    text-align: center;
    height: 80px;
    padding: 1px;
    background-image: url(https://img.freepik.com/foto-gratis/papel-arena-azul-turquesa_53876-92791.jpg?w=360);
    background-size: cover;
}
.header{
    text-align: center;
    height: 300px;
    padding: 45px;
    background-image: url(https://img.freepik.com/foto-gratis/papel-arena-azul-turquesa_53876-92791.jpg?w=360);
    background-size: cover
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid rgb(30, 97, 117);
}
.nombre{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 40px;
    margin-top: 20px;
    color: rgb(255, 248, 248);
    
}
.socials{
    list-style: none;
    text-align: center;
    padding: 0;
}
.socials li{
    display: inline-block;
    Margin: 5px;
    text-align: justify;
}
a{
    text-decoration: none;
    color: rgb(13, 13, 14);
    text-align: justify;
}
a:hover{
    color: rgb(15, 87, 116);
}
#informacion-personal{
    text-align: center;
    padding: 10px 12px;
}
.icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: cover;
}
.email{
    background-image: url(gmail.png);
}
.linkedin{
    background-image: url(linkedin.png);
}
.icono{
    background-image: url(icono.png) ;
    width: 30px;
    height: 30px;
}
.trabajo{
    background-image: url(trabajo.png);
    width: 30px;
    height: 30px;
}
.program{
    background-image: url(program.png);
    width: 30px;
    height: 30px; 
}
.idioma{
    background-image: url(idioma.png);
    width: 30px;
    height: 30px;
}

.about{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    text-align: center;
}
.about h3{
    font-family: 'Courier New', Courier, monospace;
    color: rgb(15, 83, 80);
    font-size: 35px;
    text-decoration: underline;
}
.about h4{
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    
}
.about h5{
    text-align: center;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    
}
.about p {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(18, 114, 66);
    font-size: 14px;
}
p{
    text-align: justify;
    font-family: 'Courier New', Courier, monospace;
    margin: 100px;

}
.audio{
    text-align: center;
}
.table{
    text-align: center;
    margin:25px ;
}
